<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934369741663-66pu38m0j6bndsqvlmd7f3etq4op0psd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934369741663-66pu38m0j6bndsqvlmd7f3etq4op0psd</string>
	<key>API_KEY</key>
	<string>AIzaSyBD6TV2LqKFTZ5xiT4u_1Di1Hya6qYDPJs</string>
	<key>GCM_SENDER_ID</key>
	<string>934369741663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentWheels.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rentwheels-4b2e4</string>
	<key>STORAGE_BUCKET</key>
	<string>rentwheels-4b2e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934369741663:ios:37b95d466a60ef88e9c4ea</string>
</dict>
</plist>